.payment-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }
   
  .payment-details input[type="text"],
  .payment-details input[type="number"] {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1), inset -2px -2px 5px rgba(255, 255, 255, 1);
  }
   
  .payment-details input[type="text"]:focus,
  .payment-details input[type="number"]:focus {
    border-color: blue;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 142, 239, 0.858);
  }
   
  .form-group {
    margin-bottom: 20px;
  }
   
  .form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
   
  .form-group input[type="radio"] {
    margin-right: 10px;
  }